{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block extra_js %}
{{ block.super }}
<script>
$(function() {$('.mezzanine-form :input:visible:enabled:first').focus();});
</script>
{% endblock %}

{% block main %}
    {{ block.super }}
    {% if request.GET.sent %}
        {% editable page.form.response %}
        {{ page.form.response|richtext_filters|safe }}
        {% endeditable %}
    {% else %}
        {% with page.form as page_form %}
        {% editable page_form.content %}
        {{ page_form.content|richtext_filters|safe }}
        {% endeditable %}
        {% endwith %}

        <div class="container-fluid container-promo">
            <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 parrafo-bloque-blanco">

        {% errors_for form %}

        <form class="form-horizontal" role="form" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            {% fields_for form %}
            <button type="submit" class="btn btn-special">Suscribirse</button>
        </form>
        </div>

        </div>
        </div>
        </div>
    {% endif %}

{% endblock %}

