/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.img-portfolio {
    margin-bottom: 30px;
}

h1{
    font-size: 40px;
    font-family: 'Playball', cursive;
    color:#A67C52;
}
h2{
    color:#A67C52;
    font-weight: 300 ;
    font-size: 20px;
    text-align: center;

}
h3{ 
    font-family: 'Playball', cursive;   
    font-weight: 300 ;
    font-size: 30px;
    text-align: center;

}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 80%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.carousel-caption h1{
    color: white;
}
/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}


/* ================estilos propios de firenze==============*/
/*colores- de fondo-*/

.color-fluid-1{
    background-image: url(../images/background.jpg);
    padding: 0px 0px;
}

.color-fluid-2{
    background-color: #fff;
    text-align: center;
    padding: 30px 0px;
    color: #6D3B1B;
    font-size: 17px;
}

.color-fluid-2 h1{
    color: #6D3B1B !important;
}
.color-fluid-testimonio{
    background-color: #996633;
    color: #fff;
    text-align: center;
}
.color-fluid-testimonio small{
    color: #fff;

}
.color-fluid-testimonio .carousel-indicators{
    display: none;

}
.color-fluid-blanco{
    height: 200px;
}
.color-fluid-3{
    background-color: #333333;
    padding: 0px 0px;
}
.color-fluid-4{
    background-color: #A67C52;
    padding-top: 5px;
    padding-bottom: 0px;
}
.color-fluid-5{
    background-color: #1a1a1a;
    text-align: center;
    padding: 10px 0px;
}
/*servicios*/
.color-fluid-servicios{
    background-image: url(../images/background.jpg);
    color: #fff;
    padding: 0px 0px;
}
.color-fluid-servicios h2{
    font-family: 'Playball', cursive;
    font-size: 35px;
    color: #fff;
    text-align: center;
}
.color-fluid-servicios h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.barra-vertical{
    border-right: 1px solid #A67C52;
}
/*//fin-servicios*/

/*/fin colores- de fondo-*/

/*img-principales*/

.nuevo-panel-default{
    width: 100%;
}
.panel-body-hover{
    text-align: center;
    position: absolute;
    bottom: 0px;
    color: white;
    opacity: 0;
    width: 100%;
    height: 100%;
    
}
.panel-body-hover:hover{
    opacity: 1;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
}
.contenido-panel-body{
    position: absolute;
    background-color: rgba(43, 22, 7, 0.72);
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    bottom: 0;
}
.container-promo{
    background-image: url(../images/background-dos.png);
}
.promo{
    margin: 18%;
}

/*footer*/
footer{
    background-color: #333;
    color: #fff;
}
a{
    color: #fff;
}
a:hover{
    color: #A67C52; 
}
.site-info{
    margin: 30px 0;
}
.site-info a:hover, .site-info a:focus{
    color: #42210B;
    text-decoration: none;
}
.site-info{
    font-size: 12px !important;
    color: white;
    padding: 0 5px;
}
.site-info i{
    font-size: 15px !important;
    color: white;
    padding: 0 5px;
}

.form-inline{
    padding: 30px;
    /*margin: 0px 15px 15px 15px;*/
}
.form-inline label{
    padding: 0 35px;
}
.form-inline .form-control {
    display: initial;
    background-color: #fff;
    width: 60%;
    height: 41px !important;
    border-radius: 0px;
    border: 0px ;
    border-bottom: 1px solid #A67C52;
}
.form-group {
    color: #A67C52;
}
.form-group h3{
   margin: 10px 0 40px 0;
}
.control-group .form-control {
    display: initial;
    background-color: #fdfaf7;
    min-height: 41px !important;
    border-radius: 0px;
    border: 0px ;
    border-bottom: 1px solid #A67C52;
}
/*botones*/
.btn-suscription{
    font-size: 20px;
    color: #FFA730;
    padding: 20px 15px;
    border: 1px solid #FFA730;
    background-color: #FDDFBF; 
    border-radius: 0px;
}
.btn-suscription:hover{
  color: #F15A24;
}

/*boton-creado para esta pagina*/
.btn-special{
    margin: 30px 0 10px;
    padding: 10px 8%;
    border: 1px solid #A67C52;
    border-radius: 0px;
    background-color: transparent;
    color: #A67C52;
}
.btn-special:hover{
   color: #42210B;
   background-color: #F9EEE5;
   border-color: #42210B;
}

.form-inline .btn-special{
    margin: 0px;
    padding: 10px 8%;
    border: 1px solid #A67C52;
    border-radius: 0px;
    background-color: transparent;
    color: #A67C52;
}
.form-inline .btn-special:hover{
    color: #42210B;
   background-color: #F9EEE5;
   border-color: #42210B;
}
.btn-circle {
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    line-height: 1.42;
    border-radius: 50%;
    background-color: transparent;
    border-color: #fff;
    border-width: 2px;
}
.btn-circle:hover{
  color: #29aae1;
  background-color: #c9ebff;
  border-color: #29aae1;

}
/*fin de botones*/

.links-site{
    margin: 40px 0 10px;
}
.links-site p{
    text-transform: uppercase;
}
.links-site a:hover{
    color: #A67C52;
    text-decoration: none;
}
.redes-sociales{
    margin: 0 auto;
}
.redes-sociales li a {
    color: white;
    display: block;
    height: 35px;
    width: 35px;
    line-height: 22px;
    padding: 5px;
    font-size: 16px;
    border-radius: 100%;
    border: 1px solid white;

}

.redes-sociales li a:hover, .redes-sociales li a:focus {
    border-color: #A67C52;
    color: #A67C52;
    
}
.copy{
    font-size: 80%;
    border-radius: 0px;
    text-align: center;
    color: #fff;
}
.copy p{
    padding: 10px;
    margin: 0px;
}
.copy a{
    color:aliceblue;
    text-decoration: none;


}
.copy a:hover{
    color:#a67c52;
    text-decoration: none;


}












.limpio{
    padding-left: 0px;
    padding-right: 0px;
}

/* =====cabecera========*/
.jumbotron{
    padding: 0px;
    margin-bottom: 0px;
}
/* =====cinta para redes sociales========*/

.nuevo-nav{
    background-color: rgba(255, 255, 255, 0.87);
    position: absolute;
    z-index: 1800;
    border: none;
    font-size: 15px;

}
.navbar-nav>li>a {
padding-top: 32px;
padding-bottom: 30px;
}

.navbar-inverse .nuevo-navbar-toggle{
    border-color: #ffb500;

}
/* =====links del menu========*/

 .navbar-inverse .nuevo-navbar-nav>li>a{
    color: #6D3B1B;
    font-size: 15px;
}



 .navbar-inverse .nuevo-navbar-nav>li>a:hover {
    color: #996633;
    
}


/* =====contenedor de menu========*/
.navbar-inverse .nuevo-navbar-toggle:hover{
    background-color:#FFF2CD;

}
.navbar-inverse .nuevo-navbar-toggle:focus{
    background-color:#FFF2CD;

}

.navbar-inverse .nuevo-navbar-toggle .icon-bar {
background-color: #ffb500;
}

.navbar-inverse .nuevo-navbar-collapse, .navbar-inverse .navbar-form {
border-color: #ffb500;
float: right;
}



/*texto caption Carrucel*/

.nuevo-registro{
    padding-top:0px;
    padding-bottom:0px;
    padding-right: 35px;
    padding-left: 35px; 
    list-style: none;
    background-color: #F7F2ED;
}
.registro-2{
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 35px;
    padding-left: 35px;
    margin-bottom: 35px;
    list-style: none;
    background-image: url(../images/cartagena1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    /*margin-bottom: -500px;
    z-index: 8000;
    position: relative;*/
}
.nuevo-registro>ol>li>a{
    color: #fff;
    text-decoration: none;

}
.nuevo-posicion-right{
    float: right;
}
.nuevo-espacio{
     padding-top: 25px;
     list-style: none;
}





.nuevo-btn-reserva{
      background-color: #ffb500;
      color: #fff;
      padding: 20px 60px;
      margin-left: 20px;
      margin: 20px;
      font-size: 35px;
      border: none;
      border-radius: 0px;
}
.nuevo-btn-reserva:hover{
    background-color: #ffca36;
    color: #fff;
}
.centrar-elemento{
    text-align: center;
}




/* =====resaltador de fuentes========*/
.resaltar{
    color:#f7931e;

}
/* =====estilo de logo========*/
.social{
    padding-top: 15px;
    float: right;
}
/* =====estilo de contenedor de redes sociales========*/
/*.social>ul{
    margin-top: 0;
    margin-bottom: 3px;
}*/ 
/* =====imagen de fondo========*/

.marco-2{
    padding: 5px;

}
.marco-3{
    margin: 15px;
}
.titulo-2{
    color: #f7931e;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300 ;
    font-size: 30px;
    text-align: left;

}
/*cuerpo de la pagina*/
/*.margin-container{
    background-color: #fff;
    margin-top: 15px;*/

}
.margin-row{
    margin-top: 50px;
    /*background-color: #fff;
    position: relative;*/
}

/*=====habitaciones=======*/ 
/* =====titulo info habitaciones========*/
.nuevo-h{
    border-bottom-style:solid;
    border-bottom-color: #f4f4f4; 
    border-bottom-width: 0,5px;
    width: 150px;
    margin-bottom: 5px;


}
.titulo:hover{
   text-decoration: none;
   color: #ffb500;
}
.titulo:focus{
   text-decoration: none;
   color: #ffb500;
}
.caja_lav_0{
    color: #000;
    background-color: #dff6ce;
    border: 0px solid transparent; 
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 10px;
}
/*=====lista de la pagina=======*/ 
.lista-desordenada{
    font-size: 13px;
    list-style: none;
    padding-left: 10px;
    padding-top: 10px;

}


/*====botones de redes superiores=====*/
.item-servicios{
    margin: 20px 0;
}
.item-servicios h2{
    margin-top: 0px;

}

/*.btn-circle-1 {
    height: 25px;
    width: 27px;
    padding: 0px 0;
    color:#fff;
    font-size: 16px;
    border-radius: 0px;
    
}
.btn-circle-1:hover {

    color:#ffb500;

}
.btn-circle-1:focus{
    background-color: #fff;
    color:#ccc;

}*/
.navbar-right{
    text-align: right;
    margin-right: 0px;
}
/*botones de redes inferiores*/

.btn-circle-3 {

    background-color:#666666;
    padding: 30px 35px;
    margin-bottom: 0px;
    color:#fff;
    font-size: 30px;
    text-align: center;
    border-radius: 0px;
    
}
.btn-circle-3:hover {
    color:#666;

}
.btn-circle-3:focus{

    color:#666;


}
.btn-circle-4 {

    background-color:#4d4d4d;
    padding: 30px 35px;
    margin-bottom: 0px;
    color:#fff;
    font-size: 30px;
    text-align: center;
    border-radius: 0px;
    
}
.btn-circle-4:hover {
    color:#666;

}
.btn-circle-4:focus{

    color:#666;


/*redes sociales con reglas esenciales para poder
editarlas sin problemas con bootstrap*/

}

#redes-sociales{
        list-style: none;
        margin:0;
        padding:0;
    
     }
#redes-sociales li {
        margin:0px;
        padding:0px;
        float:left; 
    }
#redes-sociales li a {
    display:block;
    padding:40px 48.2px;
    text-decoration:none;
    text-align:center;
    font-size:22px;
    color:#FFFFFF;
    border-radius: 0px;
   
    
}
#redes-sociales li:nth-child(2n+1){
    background-color:#666666;
}
#redes-sociales li a:hover {
    color:#008db1;
    background-color:#989898;
}


/*======boton de leer mas=======*/
.btn-leer-mas-1 {
    padding: 10px 20px;
    background-color: #ffb500;
    color:#303030;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400 ;
    text-decoration: underline;
    border-style: none;
    border-radius: 0px;
    margin-top: 10px;    
}



/*===========================footer========================*/
footer{
    margin: 0px;

}
.nuevo-navbar-nav {
  float: center;
  margin: 0;
  display: table;

}
.fondo-footer{   
background-color: #008db1; 
    /*text-align: center;*/
    margin: 0px;

}
/*======barra de informacion del footer========*/

.info-contacto-footer{
    background-color: #008db1;
    color: #fff;
    /*padding-top: 15px;
    padding-bottom: 15px;*/
    
}
.mas-limpio p{  
    margin: 0px !important;
}
.mas-limpio ul{  
    margin: 0px !important;
}
.mas-limpio>ul>li{  
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.site-info-1{
    font-size: 18px;
    font-style: italic;
    color: #fff;
    text-decoration: none;
    padding-top: 20px;

}
.site-info-2{
    font-size: 25px;
    font-style: italic;
    color: #fff;
    text-decoration: none;

}
    
.site-info-2>a {
    color: #fff;
    text-decoration: none;

}
.site-info-3 {
    color: #fff;
    text-decoration: none;
    padding-top: 20px;

}

.footer-copy-atributo{
    font-size: 90%;
    border-radius: 0px;
    text-align: center;
    color: #4d4d4d;


}
.footer-copy-atributo a{
    color:#560c12;
    text-decoration: none;


}
.footer-copy-atributo a:hover{
    color:red;
    text-decoration: none;


}
/*=======barra de menu de footer========*/
/*esto sirve para personalizar el menu de el fotter*/






#menu-footer-personalizado-1 {
    list-style: none;
        margin:0;
        padding:0;
 
}
#menu-footer-personalizado-1 li a{
    font-size: 15px;
    font-style: italic;
    color: #fff;
    text-decoration: none;
    padding: 0px;
    margin: 0px;

}
#menu-footer-personalizado-1 li a:hover{
    color: #c44832;
}

/*
.padding-nav-footer{
    padding-top: 0px;
    /*text-align: -webkit-center;
    margin-bottom: 0px;
}
.nuevo-navbar{
    display: table!important;
    height: auto!important;
    padding-bottom: 0!important;
    overflow: visible!important;
    visibility: visible!important;
}

.nav-color-lav>li>a {
    color: #666;

}
.nav-color-lav>li>a:hover {
    color: #fff;
    background-color: blue;
}

.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color:#000;
color: #ffca47;

}


.navbar-form {
width: auto;
padding-top: 0px;
padding-bottom: 0;
margin-right: 0;
margin-left: 0;
border: 0;
-webkit-box-shadow: none;
box-shadow: none;
}*/

/*estilo del mapa index*/
.estilo-mapa{
    height: 60px;
}



/*cajas para rellenar como search o contactos*/

.form-control {
display: block;
width: 100%;
height: 28px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #fff;
border-radius: 6px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.navbar-form>.btn {
  background-color: #f6921e;
  color: #fff;
  padding: 10px 15px;
  margin-left: 20px;
  font-size: 25px;
  border-radius: 0px;
  border:none;
}
.navbar-form>.btn:focus {
    background-color: #eeb41b;
  
}
/*=====================acerca de===============*/
.parrafo{
    font-weight: 400;
    font-size: 12px;
    padding: 5px;
}

.parrafo-l{
    text-align: center;
    color:#999999;
    font-weight: 300;
    padding: 0px;
}


.parrafo-2{
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
    text-align: justify;
}

.parrafo-bloque{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.parrafo-bloque-2{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color:#fff;

}
.parrafo-bloque-3{
    color:#fff;
    font-weight: 300;

}
.parrafo-bloque-blanco{
    background-color: #fff;
    padding: 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

    
.nuevo-img-thumbnail{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #ffe5a1;
    border-color: #ffdf8b;

}
/* Responsive Styles */
/* =====estilo de logo========*/
@media(max-width:2000px) {
    .espacio-logo {
    height: 82px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    padding-top: 5px;
    position: absolute;
    z-index: 5000;
    }
  

}

@media(max-width:1198px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
    .espacio-logo{
        height: 82px;      
        background-image: url(../images/logo.png);
        background-repeat: no-repeat;
        position: absolute;
        z-index: 5000;
    }
    .nuevo-nav{
        padding-bottom: 0px;
        padding-top: 0px;
        font-size: 12px;
    }
    .navbar-right{
        font-size: 12px;
    }
}


@media(max-width:1024px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
    .espacio-logo{
        height: 82px;
        width: 150px;       
        background-image: url(../images/logo-xl.png);
        background-repeat: no-repeat;
        position: absolute;
        z-index: 5000;
    }
    .nuevo-nav{
        padding-bottom: 0px;
        padding-top: 0px;
        font-size: 12px;
    }
    .navbar-right{
        font-size: 12px;
    }
    .social{
        display: none;
    }
}


@media(max-width:767px) {
    .nuevo-registro {
        margin-top: 0px;
        border-radius: 0px;
    
    }
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
    .espacio-logo{
        height: 82px;
        background-image: url(../images/logo-xs.png);
        background-repeat: no-repeat;
        position: absolute;
        z-index: 5000;
    }
    .nuevo-nav{
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .social{
        display: none;
    }
    

}


