<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}
{% load mezzanine_wubook_tags %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>
        {% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}

        {% ifinstalled cartridge.shop %}
            <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
            {% if LANGUAGE_BIDI %}
                <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
            {% endif %}
        {% endifinstalled %}
        <!-- Bootstrap Core CSS -->
        <link href="{% static 'firenze_template/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static 'firenze_template/css/modern-business.css' %}" rel="stylesheet">
        <link href="{% static 'firenze_template/css/carousel-testimonio.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>

        <link href="{% static 'firenze_template/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet"
              type="text/css">

        {% get_wubook_static_files 'css' %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

<nav class="col-xs-12 col-md-12 col-sm-12 col-md-12 navbar navbar-inverse navbar-static-top nuevo-nav"
     role="navigation">
    <div class="container">
        <div class="col-md-3 col-md-3 col-sm-2 col-xs-5 espacio-logo"><a href="index.html"></a>
        </div>
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle nuevo-navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse nuevo-navbar-collapse col-md-10" id="bs-example-navbar-collapse-1">
            {% block navbar_dropdown_menu %}{% page_menu "pages/menus/dropdown.html" %}{% endblock %}
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Contenido de pagina-->
{% block slides %}{% endblock %}

<div class="container-fluid nuevo-registro">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
{#                <form class="form-inline">#}
                    {% include 'mezzanine_wubook/includes/form_wubook_inline.html' %}
{#                </form>#}
            </div>
        </div>
    </div>
</div>

{% block main %}{% endblock %}

<div class="container-fluid nuevo-registro">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form class="form-inline" action="//hotelfirenze.us14.list-manage.com/subscribe/post?u=eb44ec471e882ce98614b56f5&amp;id=b250606801" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                    <div class="form-group">
                        <div class="col-md-12">
                            <h3>
                                Suscribete a nuestras promociones
                            </h3>
                        </div>
                        <div class="col-md-12 text-center">

                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_eb44ec471e882ce98614b56f5_b250606801" tabindex="-1" value=""></div>

                            <input type="email"  value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Correo electronico" required>
                            <input type="submit" value="Suscribirse" name="subscribe" id="mc-embedded-subscribe" class="button btn-special btn">
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>
<div class="container-fluid color-fluid-4">
    <div class="container">
        <div class="row text-center site-info">

            <div class="col-md-4 col-xs-12">

                <p><i class="fa fa-map-marker" aria-hidden="true"></i>{{ settings.FIRENZE_ADDRESS|safe }}</p>

            </div>
            <div class="col-md-4 col-xs-12">

                <p><i class="fa fa-truck" aria-hidden="true"></i>Ll&aacute;manos: {{ settings.FIRENZE_PHONE|safe }}</p>

            </div>
            <div class="col-md-4 col-xs-12">
                <p><i class="fa fa-envelope-o" aria-hidden="true"></i> E-Mail: <a href="mailto:{{ settings.FIRENZE_EMAIL }}"
                                                                                  target="_blank"
                                                                                  style="line-height: 1.428571429;">
                    {{ settings.FIRENZE_EMAIL }}</a></p>

            </div>


        </div>
    </div>
</div>
<!-- Footer -->

<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row links-site">
                <div class="col-md-3">
                    <img class="img-responsive" src="{% static 'firenze_template/images/logo-white.png' %}" alt="">
                    <div class="row redes-sociales text-center">

                        <ul id="" class="list-inline">
                            <li><a href="https://github.com/IronSummitMedia/startbootstrap" class="btn "><i
                                    class="fa fa-twitter fa-fw"></i></a></li>

                            <li><a href="https://github.com/IronSummitMedia/startbootstrap" class="btn  btn-circle-2"><i
                                    class="fa fa-facebook fa-fw"></i></a></li>

                            <li><a href="https://plus.google.com/+Startbootstrap/posts" class="btn  btn-circle-2"><i
                                    class="fa fa-instagram fa-fw"></i></a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-3">
                    <p>Mapa del sitio</p>
                    {% page_menu "pages/menus/footer.html" %}
{#                    <ul class="list-unstyled">#}
{#                        <li><a href="inicio.html">Inicio</a></li>#}
{#                        <li><a href="acerca.html">Acerca de el hotel</a></li>#}
{#                        <li><a href="reservas.html">Reservas</a></li>#}
{#                        <li><a href="habitaciones.html">Habitaciones</a></li>#}
{#                        <li><a href="restaurante.html">Restaurante</a></li>#}
{#                        <li><a href="contacto.html">Contacto</a></li>#}
{#                    </ul>#}
                </div>
                <div class="col-md-3">
                    <p>Servicio al Cliente</p>
                    <ul class="list-unstyled">
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Condiciones de uso</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 limpio">
                    <div class="col-lg-12 limpio" id="mapOSM" width="100%">
                        <iframe width='100%' height='250px' frameBorder='0'
                                src='https://a.tiles.mapbox.com/v4/naritas.n50iad6g/attribution.html?access_token=pk.eyJ1IjoibmFyaXRhcyIsImEiOiJqY0RldzJVIn0.i50ubfRAfQNznehSIG9TXA'></iframe>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid color-fluid-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 copy">
                    <p>Desarrolado por
                        <a href="http://naritas.co">Naritas</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

{#<div class="container">#}
{##}
{#    {% nevercache %}#}
{#        {% if messages %}#}
{#            <div class="messages">#}
{#                {% for message in messages %}#}
{#                    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">#}
{#                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>#}
{#                        {{ message }}#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        {% endif %}#}
{#    {% endnevercache %}#}
{##}
{#    <h1>{% block title %}{% endblock %}</h1>#}
{##}
{#</div>#}

{#<div class="container">#}
{#    <div class="row">#}
{##}
{#        <div class="col-md-12 middle">#}
{#            {% block main %}{% endblock %}#}
{#        </div>#}
{##}
{#    </div>#}
{#</div>#}
{##}
{#<footer>#}
{#    <div class="container">#}
{#        {% page_menu "pages/menus/footer.html" %}#}
{##}
{#        <div class="row">#}
{#            <p class="site-info text-center">#}
{#                {% trans "Powered by" %}#}
{#                <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},#}
{#                <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}#}
{#                {% trans "and" %}#}
{#                <a href="http://www.djangoproject.com">Django</a>#}
{#                <span class="separator">|</span>#}
{#                {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>#}
{#                {% ifinstalled mezzanine.mobile %}#}
{#                    <span class="separator">|</span>#}
{#                    <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>#}
{#                {% endifinstalled %}#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}


{% compress js %}
    <!-- jQuery -->
    <script src="{% static 'firenze_template/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'firenze_template/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'firenze_template/js/carousel-testimonio.js' %}"></script>
    {% get_wubook_static_files 'js' %}
    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>


    {% block extra_js %}{% endblock %}
{% endcompress %}

{% block footer_js %}
    {% include "includes/footer_scripts.html" %}
{% endblock %}

</body>
</html>
