{% load mezzanine_wubook_tags i18n %}
{% get_wubook_form as form_wubook %}
<form class="form-inline language-{{ request.LANGUAGE_CODE }}" method="get" id="form-wubook-inline" action="/reservas">
    <div class="form-group">
        <label for="exampleInputName2">Llegada:</label>
        {{ form_wubook.dfrom}}
    </div>
    <div class="form-group">
        <label for="exampleInputEmail2">Salida:</label>
        {{ form_wubook.dto }}
    </div>
    <button type="submit" class="btn btn-suscription">Reservar <i class="fa fa-calendar"
                                                                  aria-hidden="true"></i></button>

{#    {{ form_wubook.dfrom.label_tag }}#}
{#    {{ form_wubook.dfrom}}#}
{#    {{ form_wubook.dto.label_tag }}#}
{#    {{ form_wubook.dto }}#}
{#    <button type="submit" class="btn btn-info">{% trans 'Search' %}</button>#}
</form>
