{% load mezzanine_tags firenze_extras %}

{% nevercache %}
<input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
{% csrf_token %}
{% endnevercache %}

{% for field in form_for_fields %}
{% if field.is_hidden %}
{{ field }}
{% else %}
    <div class="control-group form-group input_{{ field.id_for_label }} {{ field.field.type }}
    {% if field.errors %} has-error{% endif %}">
        <div class="controls">
            {{ field|add_placeholder:field.label }}
            {% if field.errors %}
                <p class="help-block">
                    {% for e in field.errors %}
                    {% if not forloop.first %} / {% endif %}{{ e }}
                    {% endfor %}
                </p>

{#            {% elif field.help_text %}#}
{#                <p class="help-block">{{ field.help_text }}</p>#}
            {% endif %}
{#            <input type="text" class="form-control" id="name" placeholder="Nombre" required data-validation-required-message="Please enter your name.">#}
{#            <p class="help-block"></p>#}
        </div>
    </div>
{#<div class="form-group input_{{ field.id_for_label }} {{ field.field.type }}#}
{#    {% if field.errors %} has-error{% endif %}">#}
{#    {% if field.label %}<label class="control-label col-sm-2" for="{{ field.auto_id }}">{{ field.label }}</label>{% endif %}#}
{#    <div class="col-sm-4">#}
{#        {{ field }}#}
{#        {% if field.errors %}#}
{#            <p class="help-block">#}
{#                {% for e in field.errors %}#}
{#                {% if not forloop.first %} / {% endif %}{{ e }}#}
{#                {% endfor %}#}
{#            </p>#}
{##}
{#        {% elif field.help_text %}#}
{#            <p class="help-block">{{ field.help_text }}</p>#}
{#        {% endif %}#}
{#    </div>#}
{##}
{#</div>#}
{% endif %}
{% endfor %}
