{% load mezzanine_tags %}
{% if page.slides.exists %}
    <header id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        {% if page.slides.count > 1 %}
        <ol class="carousel-indicators nuevo-carousel-indicators">
            {% for image in page.slides.all %}
            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
            {% endfor %}
        </ol>
        {% endif %}

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for image in page.slides.all %}
                <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                    {% if image.resize %}
                     <div class="fill" style="background-image:url('{{ MEDIA_URL }}{% thumbnail image.file 1500 312 %}');"></div>
                    {% else %}
                     <div class="fill" style="background-image:url('{{ MEDIA_URL }}{{ image.file }}');"></div>
                    {% endif %}
                    <div class="carousel-caption">
                        <h1>
                            {{ image.description }}
                            {% if image.link %}
                                <a href="{{ image.link }}">
                                    {% if image.link_text %}
                                        {{ image.link_text }}
                                    {% else %}
                                        {{ image.link }}
                                    {% endif %}
                                </a>
                            {% endif %}
                        </h1>
                        <div class="col-md-2 limpio">

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if page.slides.count > 1 %}
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        {% endif %}
    </header>
{% endif %}